.container {
    text-align: center;
}

h2 {
    font-size: 5em;
    margin: 10px;
}

#cat-image {
    width: 320px;
    height: 240px;
}

#cat-image {
    margin: 10px;
    border: solid black 2px;
}

#cat-list {
    list-style: none;
}

.sidebar {
    position: absolute;
}